<div class="browse-videos">
  <div class="browse-videos__sidenav">
    <yt-mini-sidebar class="mini-sidebar-wrapper"></yt-mini-sidebar>
  </div>
  <div class="browse-videos-list">
    <ng-container *ngIf="videoLinks?.length; else loadingTemplate">
      <a class="video-player" *ngFor="let video of videoLinks" (click)="onSelectVideo(video.id.videoId)">
        <yt-video-thumbnail [snippet]="video.snippet" [direction]="'horizontal'"></yt-video-thumbnail>
      </a>
    </ng-container>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="loader-template">
    <ng-container *ngFor="let item of items">
      <yt-video-thumbnail-loader class="loader-template__item" [direction]="'horizontal'"></yt-video-thumbnail-loader>
    </ng-container>
  </div>
</ng-template>
