<div class="video-list">
        <div class="video-player" *ngFor="let video of videoLinks">
            <yt-video-thumbnail [snippet]="video.snippet" ></yt-video-thumbnail>
        </div>
</div>

<!-- <div class="video-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let video of videoLinks">
                <div class="video-player">
                    <yt-video-player [videoId]="video.id.videoId" ></yt-video-player>
                </div>
        </div>
    </div>
</div>
 -->
