:host {
  display: block;
}
.browse-videos {
  display: flex;
}

.browse-videos-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 24px;
}

.video-player {
  margin: 8px 8px 40px 8px;
  width: calc(100% / var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin) - 0.01px);
  margin-bottom: 1.5rem;
  // padding: 16px;
}

.loader-template {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &__item {
    margin: 8px 8px 40px 8px;
    width: calc(100% / var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin) - 0.01px);
    margin-bottom: 1.5rem;
    //  height: 237px;
  }
}

.mini-sidebar-wrapper {
  position: sticky;
  top: var(--ytd-watch-flexy-masthead-height);
  background: var(--yt-spec-background-primary);
}
