:host {
    display: block;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 24px;
}

.video-player {
    margin: 8px 8px 40px 8px;
    width: calc( 100%/var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin) - 0.01px );    margin-bottom: 1.5rem;
   // padding: 16px;
}