<div class="sidebar">
  <div class="sidebar-top">
    <div class="sidebar-top__avatar">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="sidebar-top__text">
        <h2>Anonymous</h2>
        <h3>Version: Angular v.{{version}} </h3>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="sidebar-content">

    <div class="sidebar-content-item">
        <div class="sidebar-content-item__icon">
            <mat-icon>nightlight_round</mat-icon>
        </div>
        <div class="sidebar-content-item__text">Change Appearance</div>
     </div>

     <a class="sidebar-content-item" href="https://github.com/vugar005/youtube-webapp" target="_blank">
        <div class="sidebar-content-item__icon">
            <mat-icon>javascript</mat-icon>
        </div>
        <div class="sidebar-content-item__text">Source Code</div>
    </a>

    <a class="sidebar-content-item" href="https://www.vugar.app" target="_blank">
        <div class="sidebar-content-item__icon">
            <mat-icon>trending_up</mat-icon>
        </div>
        <div class="sidebar-content-item__text">About Author</div>
    </a>

  </div>
</div>
