:host {
  display: block;
  height: var(--yt-header-height);
  padding: 0 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  &__start {
    display: flex;
    align-items: center;
  }
}

.header-nav-icon {
  button {
    background: transparent;
    padding: 0;
    box-shadow: none;
  }
}

.header-brand-icon {
  yt-brand-icon {
    width: 97px;
  }
}
