<div class="header">
  <div class="header__start">
    <div class="header-nav-icon" (click)="onToggleMenu()">
      <button mat-mini-fab>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="header-brand-icon" routerLink="/">
      <yt-brand-icon></yt-brand-icon>
    </div>
  </div>
  <div class="header__center">
    <yt-search-box [formControl]="searchControl"></yt-search-box>
  </div>
  <div class="header__end">
    <div class="header-feature-icon">
      <button mat-mini-fab>
        <mat-icon [matTooltip]="'Change Theme'" [matTooltipPosition]="'below'" [matTooltipClass]="'feature-tooltip'"
          >lightbulb</mat-icon
        >
      </button>
    </div>

    <div class="header-feature-icon" (click)="onToggleAccountMenu()">
      <button mat-mini-fab>
        <mat-icon [matTooltip]="'Account'" [matTooltipPosition]="'below'" [matTooltipClass]="'feature-tooltip'"
          >account_circle</mat-icon
        >
      </button>
    </div>
  </div>
</div>
