:host {
  display: block;
  height: var(--yt-header-height);
  padding: 0 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  &__start {
    display: flex;
    align-items: center;
    height: var(--yt-header-height);
  }

  &__center {
    flex: 0 1 504px;
  }
}

.header-nav-icon {
  button {
    background: transparent;
    padding: 0;
    box-shadow: none;
    width: 40px;
    height: 40px;
  }
}

.header-brand-icon {
  yt-brand-icon {
    width: 97px;
    margin-left: 16px;
  }
}
