:host {
  display: block;
  height: var(--ytd-watch-flexy-masthead-height);
  padding: 0 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  &__start {
    display: flex;
    align-items: center;
    height: var(--ytd-watch-flexy-masthead-height);
  }

  &__center {
    flex: 0 1 504px;
  }

  &__end {
    display: flex;
  }
}

.header-nav-icon {
  button {
    background: transparent;
    padding: 0;
    box-shadow: none;
    width: 40px;
    height: 40px;
  }
}

.header-brand-icon {
  yt-brand-icon {
    width: 97px;
    margin-left: 16px;
  }
}

.header-feature-icon {
  color: var(--yt-spec-text-primary);
  width: var(--yt-header-feature-icon-width);
  height: var(--yt-header-feature-icon-height);
  margin-left: 0.8rem;
  font-size: 2.4rem;
  button {
    background: transparent;
    box-shadow: none;
  }
}

.feature-tooltip {
  font-size: 0.7rem;
}