:host {
    display: block;
}

.video-card-wrapper {
    padding-top: var(--ytd-margin-6x);
    padding-right: var(--ytd-margin-6x);
    margin-left: var(--ytd-margin-6x);
    max-width: var(--ytd-watch-flexy-max-player-width);
    min-width: var(--ytd-watch-flexy-min-player-width);
}