@use '@angular/material' as mat;
@import './_palette';

$youtube-typography: mat.define-typography-config(
  $font-family: 'Roboto, sans-serif',
  $display-4: mat.define-typography-level(112px, 112px, 300, 300),
  $display-3: mat.define-typography-level(56px, 56px, 400),
  $display-2: mat.define-typography-level(45px, 48px, 400),
  $display-1: mat.define-typography-level(34px, 40px, 400),
  $headline: mat.define-typography-level(96px, 144px, 300, 400, -1.5px),
  $title: mat.define-typography-level(60px, 90px, 300, 400, -0.5px),
  $subheading-2: mat.define-typography-level(48px, 72px, 400),
  $subheading-1: mat.define-typography-level(34px, 51px, 400, $letter-spacing: 0.25px),
  $body-2: mat.define-typography-level(1.4rem, 2rem, 500, $letter-spacing: 0.25px),
  $body-1: mat.define-typography-level(16px, 24px, 400, $letter-spacing: 0.5px),
  $caption: mat.define-typography-level(12px, 15px, 400, $letter-spacing: 0.4px),
  $button: mat.define-typography-level(14px, 16px, 400, $letter-spacing: 1.25px),
  $input: mat.define-typography-level(16px, 1.125, $letter-spacing: 0.15px),
);

// @mixin overline {
//   font-size: 10px;
//   line-height: 12px;
//   letter-spacing: 1.5px;
// }

// @mixin subtitle-1 {
//   font-size: 16px;
//   line-height: 24px;
//   letter-spacing: 0.15px;
// }

// @mixin subtitle-2 {
//   font-size: 14px;
//   line-height: 21px;
//   letter-spacing: 0.1px;
// }

// @mixin h-5 {
//   font-size: 24px;
//   line-height: 36px;
//   letter-spacing: normal;
// }

// @mixin h-6 {
//   font-size: 20px;
//   line-height: 30px;
//   letter-spacing: 0.15px;
// }
