<div class="video-card" *ngIf="videoResult?.title; else loadingTemplate">
  <div class="video-card__player">
    <yt-video-player [videoId]="videoId"></yt-video-player>
  </div>
  <div class="video-details">
    <div class="video-details__title">{{ videoResult?.title }}</div>
    <div class="video-details__footer">
      <div class="video-details__footer__views">{{ videoResult?.views | number: '1.0-0' }} views</div>
      <div class="video-details-actions">
        <div class="video-details-actions__item" (click)="onToggleLike()">
          <mat-icon class="video-details-actions__item__icon">
            <ng-container *ngIf="isLiked"> thumb_up </ng-container>

            <ng-container *ngIf="!isLiked"> thumb_up_off_alt </ng-container>
          </mat-icon>

          <p class="video-details-actions__item__text">Like</p>
        </div>

        <div class="video-details-actions__item" (click)="onToggleDisLike()">
          <mat-icon class="video-details-actions__item__icon">
            <ng-container *ngIf="isDisLiked"> thumb_down </ng-container>

            <ng-container *ngIf="!isDisLiked"> thumb_down_off_alt </ng-container>
          </mat-icon>
          <p class="video-details-actions__item__text">Dislike</p>
        </div>

        <div class="video-details-actions__item">
          <mat-icon class="video-details-actions__item__icon">share</mat-icon>
          <p class="video-details-actions__item__text">Share</p>
        </div>

        <div class="video-details-actions__item">
          <mat-icon class="video-details-actions__item__icon">download</mat-icon>
          <p class="video-details-actions__item__text">Download</p>
        </div>

        <div class="video-details-actions__item">
          <mat-icon class="video-details-actions__item__icon">playlist_add</mat-icon>
          <p class="video-details-actions__item__text">Save</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="video-card-loader">
    <yt-video-thumbnail-loader></yt-video-thumbnail-loader>
  </div>
</ng-template>
