<div class="video-card">
    <yt-video-player class="video-card__player" [videoId]="videoId"></yt-video-player>
    <div class="video-details">
        <div class="video-details__title">Ash - Live at Bonjuk Bay</div>
        <div class="video-details-actions">
            <div class="video-details-actions__item">
                <mat-icon class="video-details-actions__item__icon">thumb_up</mat-icon>
                <p class="video-details-actions__item__text">43k</p>
            </div>

            <div class="video-details-actions__item">
                <mat-icon class="video-details-actions__item__icon">thumb_down</mat-icon>
                <p class="video-details-actions__item__text">Dislike</p>
            </div>

            <div class="video-details-actions__item">
                <mat-icon class="video-details-actions__item__icon">share</mat-icon>
                <p class="video-details-actions__item__text">Share</p>
            </div>

            <div class="video-details-actions__item">
                <mat-icon class="video-details-actions__item__icon">download</mat-icon>
                <p class="video-details-actions__item__text">Download</p>
            </div>

            <div class="video-details-actions__item">
                <mat-icon class="video-details-actions__item__icon">playlist_add</mat-icon>
                <p class="video-details-actions__item__text">Save</p>
            </div>

        </div>
    </div>
</div>