/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-grid';
@import 'apps/shell/src/assets/themes/youtube-theme';

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
}

body {
    background: var(--yt-background-primary);
}
:root {
    --yt-header-height: 56px;
    --yt-background-primary: rgba(33, 33, 33, 0.98);
    --yt-background-solid: #212121;
    --yt-sidebar-width: 240px;
}