/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-grid';
@import 'apps/shell/src/assets/themes/youtube-theme';

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
}

body {
  background: var(--yt-background-primary);
}

:root {
  --ytd-watch-flexy-masthead-height: 56px;
  --yt-background-primary: rgba(33, 33, 33, 0.98);
  --yt-background-solid: #212121;
  --yt-sidebar-width: 240px;
  --yt-sidebar-nav-min-height: 40px;
  --yt-spec-10-percent-layer: rgba(255, 255, 255, 0.1);
  --yt-spec-text-primary: #fff;
  --yt-drawer-backdrop-background: rgba(0, 0, 0, 0.5);
  --yt-spec-background-solid: #212121;
  --yt-searchbox-background: hsl(0, 0%, 7%);
  --ytd-searchbox-legacy-border-color: hsla(0, 0%, 53.3%, 0.4);
  --yt-searchbox-text-color: hsla(0, 100%, 100%, 0.88);
  --yt-searchbox-legacy-button-hover-color: hsla(0, 0%, 100%, 0.08);
  --ytd-rich-grid-items-per-row: 3;
  --ytd-rich-grid-item-margin: 16px;
  --yt-endpoint-color: var(--yt-spec-text-secondary);
  --yt-spec-text-secondary: #aaa;
  --yt-spec-badge-chip-background: rgba(255, 255, 255, 0.1);
  // --ytd-watch-flexy-min-player-height: 360px;
  // --ytd-watch-flexy-panel-max-height: 360px;
  --ytd-watch-flexy-player-width: calc(
    (
        100vh -
          (var(--ytd-watch-flexy-masthead-height) + var(--ytd-margin-6x) + var(--ytd-watch-flexy-space-below-player))
      ) * (var(--ytd-watch-flexy-width-ratio) / var(--ytd-watch-flexy-height-ratio))
  );
  --ytd-watch-flexy-player-height: calc(
    100vh - (var(--ytd-watch-flexy-masthead-height) + var(--ytd-margin-6x) + var(--ytd-watch-flexy-space-below-player))
  );
  --ytd-watch-flexy-space-below-player: 156px;
  --ytd-watch-flexy-width-ratio: 16;
  --ytd-watch-flexy-height-ratio: 9;
  --ytd-margin-6x: 24px;
  --yt-related-thumbnail-width: 300px;
}

a {
  text-decoration: none;
}

.mat-drawer,
.mat-drawer-container {
  background: var(--yt-spec-background-solid);
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: var(--yt-drawer-backdrop-background);
}

.p-0 {
  padding: 0;
}
.w-100 {
  width: 100%;
}

@media (min-width: 1130px) {
  :root {
    --ytd-rich-grid-items-per-row: 4;
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
