<div class="home">
  <div class="home-sidebar">

    <div class="home-sidebar__video">
      <ng-container *ngIf="likedVideos?.[0] as primaryVideo else primaryLoadingTemplate">
        <yt-video-thumbnail [snippet]="primaryVideo.snippet" [direction]="'horizontal'"></yt-video-thumbnail>
      </ng-container>
    </div>

    <h1 class="home-sidebar__title">Liked videos</h1>
  </div>
  <div class="video-list">
    <ng-container *ngIf="likedVideos?.length; else loadingTemplate">
      <div
        class="video-item"
        *ngFor="let video of likedVideos; index as videoIndex"
        [routerLink]="['/watch']"
        [queryParams]="{ v: video.id?.videoId }"
      >
        <div class="video-item__index">{{ videoIndex + 1}}</div>

        <div class="video-item__thumbnail">
          <yt-video-thumbnail [snippet]="video.snippet" [direction]="'vertical'"></yt-video-thumbnail>
        </div>

      </div>
    </ng-container>
  </div>
</div>


<ng-template #loadingTemplate>
  <div class="thumbnail-loader-template">
    <yt-video-thumbnail-loader *ngFor="let item of mockItems"></yt-video-thumbnail-loader>
  </div>
</ng-template>

<ng-template #primaryLoadingTemplate>
  <div class="thumbnail-primary-loader-template">
    <yt-video-thumbnail-loader></yt-video-thumbnail-loader>
  </div>
</ng-template>
