@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import '../styles/colors';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$youtube-theme-primary: mat.define-palette($youtube-primary, 50, 10, 70);
$youtube-theme-accent: mat.define-palette($youtube-accent, 50, 10, 70);

// The warn palette is optional (defaults to red).
$youtube-theme-warn: mat.define-palette($youtube-error, light, $darker: 90);

// Create the theme object (a Sass map containing all of the palettes).
$youtube-theme: mat.define-light-theme($youtube-theme-primary, $youtube-theme-accent, $youtube-theme-warn);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($youtube-theme);
