@use '@angular/material' as mat;
@import '../styles/colors';
@import '../styles/typography';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$youtube-theme-primary: mat.define-palette($youtube-primary, 50, 10, 70);
$youtube-theme-accent: mat.define-palette($youtube-accent, 50, 10, 70);

$youtube-dark-theme: mat.define-dark-theme((
 color: (
   primary: $youtube-theme-primary,
   accent: $youtube-theme-accent
 )));

 @include mat.all-component-themes($youtube-dark-theme);
 @include mat.core($youtube-typography);
